@{
    ViewBag.Title = "Connection";
    }

+<form method="post">
    	<!--Login-->
    	<input id="login" name="login" type="text" placeholder="Login" required />
    	<!--Mot de Passe-->
    	<input id="password" name="password" type="password" placeholder="Password" required />
    	<!--Bouton de Connexion-->
    	<input type="submit" />
    
</form>
