<div class="jumbotron">
    <h1>OSP</h1>
    <p class="lead">OSP est une application destinée aux professeurs de l'université d'Evry Val d'Essonne, leur permettant de suivre les projets des élèves inscrits dans l'Unité d'Enseignement.</p>
    <p><a href="https://www.univ-evry.fr/accueil.html" class="btn btn-primary btn-lg">En savoir plus &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Teachers</h2>
        <p>Here you can learn more about the teachers that are supervising the students during this class.</p>
        <p><a class="btn btn-default" href="https://fr.linkedin.com/in/judith-benzakki-401b4418">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Students</h2>
        <p>OSP has been developed for and by students achieving their Master at Evry Val D'Essonne's University </p>
        <p><a class="btn btn-default" href="http://www.cfa-afia.com/spip.php?article28">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Developers</h2>
        <p>Steven GREY<br/>Yacine IBN SALAH</p>
        
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
